@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --color-brand: #ee4d2d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
